
.header {
    position: fixed; /* Posicion fija */
    background-color: var(--bg-color); /* bg-color esta en el root */
    z-index: 10; /* Para que quede por encima de la otra imagen, se pone un numero alto */
    /*
    left: 0; Rellenar de izquierda a derecha 
    right: 0;
    */
    position: sticky; /* Que se quede fijo el contenido */
    top: 0;
    display: flex; /* Barra navegacion ajustada uno al lado de otro */
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.header .header__image { /* Define el ancho */
    width: 150px;
    max-width: 150px;

}

.header .header__image img { /* Dice el tamaño  de la imagen y coge el ancho de arriba */
    width: 100%;
}

.header .header__nav .header__nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px; /* Separar botones */
}

.header .header__nav .header__nav__list .header__nav__list_item a {
    text-decoration: none;
}

/* El 768px son breackpoints, hay varios y los puedes encontrar en internet */
@media (width > 768px) { /* Mostrar sing up y login cuando llega a un cierto tamaño la pantalla width mayores a 768px*/
    .header__nav .header__nav__list .header__nav__list__item.hidden { /* El .hidden se pone junto por que esta dentro del header_nav_list_item */
        display: block;
    }
}