.bg-image {
    background-image: url("../assets/app/catalog.jpg");
    background-size: 250px;
}

.card {
    background-color: rgba(0, 0, 0, 0.9); /* Cuando pongamos transparencias es mejor poner rgba */
    padding: 40px 20px 50px 20px;
    margin: 0 auto;
    max-width: 320px;
}

.form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.form__label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form__input {
    border-radius: 5px;
    padding: 16px 12px;
    border: none;
    background-color: #333;   
    color: var(--main-text-color);
}

.form__element.form__element--checkbox { /* Ajustamos el ckeck del newsleter */
    flex-direction: row;
    align-items: center;
    /* gap: 10px Para separar el check y la palabra, pero vamos a usar otro como ejemplo */
}

.form__element.form__element--checkbox .form__label { /* Le quitamos el margen para que el check y la palabra quede cuadradas ya que son diferentes caudrados */
    margin: 0;
}

.form__element.form__element--checkbox input[type="checkbox"] { /* Esto solo va a afectar a los input que tenga el tipo checkbox */
    margin: 10px; /* Para darle el espacio */
}

.form__element__radio__list { /* Para centrar las categorias */
    display: flex;
    align-items: center;
    gap: 10px;
}